{% extends "aplicacion/index.html" %}
{% load static %}

{% block Body %}
    <header class="mastheadconsultas">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <table id="FormularioConsulta" style="text-align: justify;width: 150vh;border-color: #fff;" class="table">
                    
                    <!-- <td><img src="{% static 'aplicacion/assets/img/abme.jpg' %}" style="height: 400px;width: auto;border-radius:0.5rem"></td> -->
                    
                    <td><p><h3>Lic. Julia Torne</h3>Matrícula Colegio de Psicólogos Prov. de Santa Fe 2da Circ, Rosario Argentina N° 7805. 
                        Me recibí de Licenciada en Psicología en la Universidad Abierta Interamericana en el año 2016.
                        </p></td>

                        <td>
                            <div class="container-slide">
                                <div class="slide">
                                    <ul>
                            <li><img src="{% static 'aplicacion/assets/img/registro.jpg' %}" alt=""></li>
                            <li><img src="{% static 'aplicacion/assets/img/titulo.jpg' %}" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                            </td>
    





                    






                </table>
            </div>
        </div>
    </header>        
        
{% endblock Body %}