body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height:100dvh;
}

.bg-light{
  background-color: #fff !important;
}

html {
  height:100dvh;
  scroll-padding-top: calc(4.5rem - 1px);
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
  background-color: #fff; /* Color de fondo del nav */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para separar del body */
  padding: 10px 0; /* Espaciado interno */
  font-size: 2vh;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70vw; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 0 5px; /* Espaciado interno */
}

.nav-container a:hover {
  color: #878e94;
}

.logonav {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #715477; /* Color del texto */
  font-weight: bold;
  font-size: 2.5vh;
}
  
.lista-nav-div{
  display: grid;
  text-align: center;
  justify-content: center;
  
}
.logonav img {
  margin-right: 10px; /* Espaciado entre el logo y el texto */
}

.lista-nav {
  list-style: none; /* Quita los puntos de la lista */
  display: flex; /* Coloca los elementos en fila */
  gap: 20px; /* Espaciado entre los elementos */
  padding: 0; /* Evita espacios extra */
  margin: 0;
}

.lista-nav li {
  display: inline; /* Asegura que los <li> sean en línea */
}

.lista-nav a {
  color: #715477;
  text-decoration: none; /* Quita el subrayado */
  font-weight: bold; /* Opcional: mejora la visibilidad */
  padding: 10px; /* Espaciado para mejor clickeabilidad */
  transition: color 0.3s ease-in-out;
}

.lista-nav a:hover {
  color: #878e94; /* Color cuando se pasa el mouse */
}

.btn-logout{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2vh;
  display: flex;
  margin: 0 auto;
  padding-top: 2px;
  color: #715477;
  text-decoration: none; /* Quita el subrayado */
  font-weight: bold; /* Opcional: mejora la visibilidad */
  transition: color 0.3s ease-in-out;
}

.btn-logout:hover {
  color: #878e94; /* Color cuando se pasa el mouse */
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
  text-shadow: rgba(0,0,0, 0.5) 5px 7px 10px;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.btn-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: #87618E;
  --bs-btn-hover-color: #c6c7c8;
  --bs-btn-hover-bg: #715477;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
  opacity: 0.8;
}

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #87618E;
  opacity: 0.7;
}

hr.divider-light {
  background-color: #fff;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #715477;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: rgba(4, 38, 100, 3);
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: rgba(4, 38, 100, 3) !important;
}
@media (min-width: 480px) {
  #mainNav {
    color: #715477;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #f8f9fa;
  }
  #mainNav .navbar-brand {
    color: #715477;
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
    color: #B8B8D4;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(4, 38, 63, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #f8f9fa;
    opacity: 0.75;

  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #B8B8D4;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #B8B8D4;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #B8B8D4;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #B8B8D4;
  }
}

/* Estilos para el botón hamburguesa */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

header.masthead {
  
  padding-top: 2rem;
  padding-bottom: calc(10rem - 4.5rem);
  background:linear-gradient(to bottom, rgba(4, 38, 63, 0.1) 0%, rgba(4, 38, 63, 0.15) 100%), url("../assets/img/bk-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size:cover;
}
header.mastheadconsultas {
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to bottom, rgba(4, 38, 63, 0.1) 0%, rgba(4, 38, 63, 0.15) 100%), url("../assets/img/psicologos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.mastheadconsultas h1, header.mastheadconsultas .h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.mastheadconsultas {
    min-height: 85dvh;
  }
  header.mastheadconsultas p {
    font-size: 1.15rem;
  }
  header.mastheadconsultas h1, header.mastheadconsultas .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.mastheadconsultas h1, header.mastheadconsultas .h1 {
    font-size: 3.5rem;
  }
}


header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    min-height: 40rem;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
  }
}

h1{
  color: #fff;
}

h2{
  color: #fff;
}

.h1-h2{
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 2dvh;
}

#FormularioConsulta {
  max-width: 800px; /* Limita el ancho máximo del contenedor */
  width: 100%; /* Asegura que se ajuste al ancho disponible */
  height: auto;
  padding: 20px; /* Reduce el padding para evitar que los inputs sobresalgan */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; /* Ajusta el line-height para mejor legibilidad */
  color: #715477;
  background-color: #fff;
  border-radius: 0.375rem;
  opacity: 0.95; /* Ajusta la opacidad para mejor contraste */
  font-family: "Merriweather Sans", sans-serif;
  margin: 20px auto; /* Centra el contenedor horizontalmente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra para un efecto más moderno */
}

#FormularioConsulta .table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border-color: transparent;
}

#FormularioConsulta .container {
  padding: 20px;
}

#FormularioConsulta input[type="text"],
#FormularioConsulta input[type="password"],
#FormularioConsulta input[type="email"],
#FormularioConsulta input[type="tel"],
#FormularioConsulta input[type="date"],
#FormularioConsulta input[type="number"],
#FormularioConsulta textarea,
#FormularioConsulta select {
  width: 100%; /* Asegura que los inputs ocupen todo el ancho del contenedor */
  padding: 10px;
  margin-bottom: 15px; /* Espaciado entre los inputs */
  border-radius: 0.375rem;
  font-size: 1rem;
  font-family: "Merriweather Sans", sans-serif;
  box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

#FormularioConsulta button {
  width: 100%; /* Botón ocupa todo el ancho del contenedor */
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #715477;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#FormularioConsulta button:hover {
  background-color: #878e94; /* Cambia el color al pasar el mouse */
}


#pacientes {
  width: 95%; /* Cambiado a un valor más amplio */
  max-width: 1200px; /* Establece un máximo para evitar que se vuelva demasiado ancho */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #87618E;
  background-color: #fff;
  border-radius: 1rem;
  opacity: 0.9;
  font-family: "Merriweather Sans", sans-serif;
}

#pacientes .table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border-color: transparent;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
}
#pacientes .submit {
  display: inline-block;
  background-color: #87618E;
  color: #fff;
  border-radius: 0.375rem;
  padding: 10px 20px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  /* Aquí puedes definir estilos específicos para pantallas pequeñas */
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
  /* Aquí puedes definir estilos específicos para pantallas medianas */
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  /* Aquí puedes definir estilos específicos para pantallas grandes */
}


.centered-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Opcional para centrar en toda la altura de la ventana */
  padding: 20px;
  box-sizing: border-box;
}

.pacientebtn{
  padding: 10px; /* Ajusta el relleno vertical y horizontal */
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.8rem; /* Ajusta el tamaño de fuente */
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.375rem;
  background-color: #87618E;
  display: table;
}

/* Aplicar estilos diferentes para pantallas pequeñas */
@media (max-width: 767px) {
  .pacientebtn{
    font-size: 0.6rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    padding: 8px 12px; /* Reducción del relleno para mantener proporciones */
  }
}

#slide {
  width: 100%;
  padding: 10px;
  font-size: 1rem;

  font-weight: 400;
  line-height: 1.5;
  color: #87618E;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  font-family: "Merriweather Sans", sans-serif;
  margin: 0 auto;
}

#slide .table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border-color: transparent;
}

.container-calendar {
  height: 90dvh;
  width: 80dvw;
  overflow: auto;
  scroll-snap-type: y mandatory;
  display: flex;
  justify-content: center;
  align-items: center; /* Esto centra verticalmente */

}

.container-calendar h2{
  color:#000000;
  font-size: 2vh;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container-calendar h3{
  color:#715477;
  font-size: 1.5vh;
  font-weight: 700;
  text-align: center;

}

.container-slide{
  display: grid;
  place-content: center;
}

.slide{
  width: 25rem;
  max-width: 1000px;
  height: 25rem;
  overflow: hidden;
  border-radius: 10px;
  object-fit: fill;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.slide ul{
  display: flex;
  padding: 0;
  width: 200%;
  animation: slide 20s infinite; 
}

@keyframes slide {
  0%{margin-left: 0;}
  33.33333333%{margin-left: 0;} 

  40%{margin-left: -110%;}
  60%{margin-left: -110%;} 

  70%{margin-left: -220%;}
  90%{margin-left: -220%;} 
  

}

.container-slide-staff{
  display: grid;
  place-content: center;
}

.slide-staff{
  width: 25rem;
  max-width: 1000px;
  height: 25rem;
  overflow: hidden;
  border-radius: 10px;
  object-fit: fill;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.container-slide-staff ul{
  display: flex;
  padding: 0;
  width: 200%;
  animation: slide-staff-anim 45s infinite; 
}

@keyframes slide-staff-anim {
  0%       { margin-left: 0%; }
  16.666%  { margin-left: 0%; }
  33.333%  { margin-left: -110%; }
  49.999%  { margin-left: -220%; }
  66.666%  { margin-left: -330%; }
  83.333%  { margin-left: -440%; }
  100%     { margin-left: -550%; }
}


.timezone-warning {
                background: linear-gradient(135deg, #715477 0%, #87618E 100%);
                padding: 1rem;
                margin: 3rem auto 0rem auto;
                max-width: 85%;
                border-radius: 12px;
                box-shadow: 0 4px 12px rgba(255, 138, 138, 0.25);
            }
            
            .warning-content {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                color: white;
            }
            
            .warning-icon {
                font-size: 2.5rem;
            }
            
            .warning-text h3 {
                margin: 0 0 0.5rem 0;
                font-size: 1.4rem;
                font-weight: bold;
                text-shadow: 1px 1px 3px rgba(0,0,0,0.15);
            }
            
            .warning-text p {
                margin: 0.3rem 0;
                font-size: 1.05rem;
            }
            
            .warning-text strong {
                font-size: 1.2rem;
                text-decoration: underline;
            }
            
            .warning-subtext {
                font-size: 0.95rem !important;
                opacity: 0.95;
            }
            
            @media (max-width: 768px) {
                .warning-content {
                    flex-direction: column;
                    text-align: center;
                    gap: 1rem;
                }
                
                .warning-icon {
                    font-size: 2rem;
                }
                
                .warning-text h3 {
                    font-size: 1.2rem;
                }
                
                .warning-text p {
                    font-size: 1rem;
                }
                
                .warning-text strong {
                    font-size: 1.1rem;
                }
            }
